.dropcss {
    filter: drop-shadow(0px 0px 15px #c9d5ff);
}

.aboutcontainer.visible {
    animation: AboutShow .3 linear forwards;
}

@keyframes AboutShow {
    0% {
        transform: translateY(-50em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}