.all-cards {
    grid-template-columns: auto auto auto auto auto;
}

.all-cards1, .databases {
    grid-template-columns: auto auto;
}

/* circular progress bar css */

.circular-progress {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    position: absolute;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: rgb(83, 36, 36);
}

.percentage {
    position: relative;
    font-size: 1em;
    color: black;
}

p {
    margin: 0 !important;
}

.c1 {
    justify-items: center;
    align-content: center;
    gap: 1em;
    display: grid;
    width: max-content;
}

@media screen and (max-width:768px) {
    .all-cards {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width:450px) {
    .all-cards {
        grid-template-columns: auto auto;
    }
}