.vertical-line {
    width: 1px;
    height: 100%;
    background-color: #bebebe;
    position: absolute;
    top: 0;
    left: 50%;
}

.boxsiz .row div div {
    width: 20rem;
    border-radius: 1rem;
}

.joint-l {
    background-color: #f7eeff;
}

body.dark .joint-l {
    background-color: #1d0036;
    border-color: #ffffff66!important;
}

.joint-r {
    background-color: #f7f7f7;
}

body.dark .joint-r {
    background-color: #101010;
    border-color: #ffffff66!important;
}

.joint-r::before {
    content: '';
    width: 1rem;
    height: 1rem;
    display: block;
    position: absolute;
    left: -3px;
    top: 50%;
    transform: translateY(-50%);
    rotate: -45deg;
    border-top: 1px solid #aeaeae;
    border-left: 1px solid #d3d3d3;
}

.joint-l::before {
    content: '';
    width: 1rem;
    height: 1rem;
    display: block;
    position: absolute;
    right: -3px;
    top: 50%;
    transform: translateY(-50%);
    rotate: 45deg;
    border-top: 1px solid #aeaeae;
    border-right: 1px solid #d3d3d3;
}

#showresume {
    grid-template-columns: max-content auto;
}

@media screen and (max-width:768px) {
    .boxsiz .row div div {
        width: fit-content;
    }

    #Resume .boxsiz {
        gap: 1em;
        display: grid;
    }
    
    .joint-l::before ,
    .joint-r::before {
        display: none;
    }
    
    #showresume {
        grid-template-columns: auto;
        gap: .6em 0;
    }
}